.absolute {
  position: absolute
}

.flex {
  display: flex
}

.h-full {
  height: 100%
}

.w-full {
  width: 100%
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.font-bold {
  font-weight: 700
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}
